/*
 *Name: [Matthew Woodring]
 *UnityID: [mmwoodri]
 *Date: [11/9/2025]
 *Assignment: [E 115 html/css]
 *Description: [E 115 learning html/css code]
 */
 
p {
    font-family: Times;
    font-size: 16px;
    color: #decaff;
}

.table-border {
    border: 1px solid #decaff;
}

#photo-resize{
    max-width:250px;
    max-height: 300px;
}
